@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*/
/* @font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Light.woff2') format('woff2'),
    url('../fonts/Gotham-Light.woff') format('woff'),
    url('../fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-LightItalic.woff2') format('woff2'),
    url('../fonts/Gotham-LightItalic.woff') format('woff'),
    url('../fonts/Gotham-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
    url('../fonts/Gotham-BookItalic.woff') format('woff'),
    url('../fonts/Gotham-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Narrow Book';
  src: url('../fonts/GothamNarrow-Book.woff2') format('woff2'),
    url('../fonts/GothamNarrow-Book.woff') format('woff'),
    url('../fonts/GothamNarrow-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
    url('../fonts/Gotham-MediumItalic.woff') format('woff'),
    url('../fonts/Gotham-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('../fonts/GothamNarrow-Medium.woff2') format('woff2'),
    url('../fonts/GothamNarrow-Medium.woff') format('woff'),
    url('../fonts/GothamNarrow-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Thin.woff2') format('woff2'),
    url('../fonts/Gotham-Thin.woff') format('woff'),
    url('../fonts/Gotham-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-ThinItalic.woff2') format('woff2'),
    url('../fonts/Gotham-ThinItalic.woff') format('woff'),
    url('../fonts/Gotham-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('../fonts/Gotham-Ultra.woff2') format('woff2'),
    url('../fonts/Gotham-Ultra.woff') format('woff'),
    url('../fonts/Gotham-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('../fonts/Gotham-UltraItalic.woff2') format('woff2'),
    url('../fonts/Gotham-UltraItalic.woff') format('woff'),
    url('../fonts/Gotham-UltraItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('../fonts/GothamUltra-Italic.woff2') format('woff2'),
    url('../fonts/GothamUltra-Italic.woff') format('woff'),
    url('../fonts/GothamUltra-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Extra';
  src: url('../fonts/Gotham-ExtraLight.woff2') format('woff2'),
    url('../fonts/Gotham-ExtraLight.woff') format('woff'),
    url('../fonts/Gotham-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamBlack.woff2') format('woff2'),
    url('../fonts/GothamBlack.woff') format('woff'),
    url('../fonts/GothamBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Extra';
  src: url('../fonts/Gotham-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Gotham-ExtraLightItalic.woff') format('woff'),
    url('../fonts/Gotham-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BlackItalic.woff2') format('woff2'),
    url('../fonts/Gotham-BlackItalic.woff') format('woff'),
    url('../fonts/Gotham-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.woff2') format('woff2'),
    url('../fonts/Gotham-Black.woff') format('woff'),
    url('../fonts/Gotham-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
    url('../fonts/Gotham-BoldItalic.woff') format('woff'),
    url('../fonts/Gotham-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
} */




html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Poppins', 'Hind', sans-serif !important;
  /* font-display: auto; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  font-display: fallback !important;

} */

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gotham', sans-serif;
  /* font-family: sans-serif; */
  /* font-display: swap; */


}

p {
  font-family: 'Hind', sans-serif !important;
  /* font-display: swap; */


}

h1,
h2,
p,
a,
ul {
  margin: 0;
  margin-bottom: 0 !important;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.text-green {
  color: #E50A5C;
}

/* ************************************************* */
/* ***************** Footer ****************** */
/* ************************************************* */
.footer_main_container {
  background-color: #09142C;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  color: white;
  padding: 50px 0px 20px 0px;
}

.footer_main_container img {
  width: 270px;
}

/* .footer_links p{
  font-size: 15px;
font-family: sans-serif !important;
color: white;
} */
.footer_links {
  padding: 20px 0px 40px 0px;
}

.footer_links h4 {
  font-family: sans-serif !important;
  font-weight: 600;
  font-size: 20px;
}

.footer_links a {
  text-decoration: none;
  color: white;
  font-family: sans-serif !important;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer_links a:hover {
  color: #E50A5C;
}

.footer_info>div {
  display: flex;
  align-items: center;
}
.footer_info >div a{
  text-decoration: none;
  color: white;
}

.footer_info>div svg {
  font-size: 20px;
  margin-right: 10px;
}

.footer_info>div p {
  color: white;
  font-family: sans-serif !important;
  font-size: 15px;
}

.social_icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.social_icons>div {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
}
.social_icons>div a {
  text-decoration: none;
  color: white;
}

.social_icons svg {
  color: black;
}

.footer_main_container hr {
  background-color: white !important;
  color: white !important;
  opacity: 1 !important;
}

.copyrights {
  font-family: sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}


/* ************************************************* */
/* ***************** Privacy Policy ****************** */
/* ************************************************* */
.privacy_policy_main{
  padding: 40px 0px;
}
.privacy_policy_main h2{
  font-size: 38px;
  padding-bottom: 15px;
}
.privacy_policy_main p{
  padding-bottom: 10px;
  font-size: 18px;
}
.privacy_policy_main ul{
  list-style-type: disc;
}

@media (max-width:767px) {
  .quick-link-container-2 {
    margin-top: 8px !important;
  }
.privacy_policy_main h2{
  font-size: 28px;
}
.privacy_policy_main p{
  font-size: 16px;
}
}

.progress {
  height: 8px !important;
  border-radius: 0px !important;
}

.animated-progress-bar .progress-bar {
  transition: width 1s ease-in-out;
}

.animated-progress-bar .progress-bar.animated {
  animation: progress-bar-stripes 1s linear infinite;
}


@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}