/* ************************************************* */
/* ***************** Top Bar ****************** */
/* ************************************************* */
.top_bar_main {
  width: 100vw;
  max-width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 90%
  );
  display: flex;
  align-items: center;
  padding: 7px 0px;
}
.top_bar_main a {
  text-decoration: none;
  color: white;
}

.top-bar-container {
  display: flex;
  float: right;
}

.top_bar_left {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.top_bar_left > div {
  display: flex;
  align-items: center;
}

.top_bar_left > div:first-child {
  margin-right: 30px;
}

.top_bar_left p {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  color: black;
  letter-spacing: 1px;
}

@media (max-width: 640px) {
  .top_bar_left > div:first-child {
    margin-right: 0px;
  }
  .top_bar_left p {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .top-bar-container {
    flex-direction: column;
    gap: 5px;
  }

  .top_bar_left {
    display: flex;
    gap: 5px;
  }
}

/* ************************************************* */
/* ***************** Navbar ****************** */
/* ************************************************* */
.navbar_main {
  padding: 15px 0px;
}

#right_side_nav {
  width: 100%;
  justify-content: flex-end;
  /* padding-right: 60px; */
  align-items: center;
}

#right_side_nav > a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 16px;
  font-weight: 400;
}

#right_side_nav > a:hover,
#right_side_nav > a:active {
  color: #e50a5c;
}

#basic-nav-dropdown {
  position: relative;
}

.dropdown {
  position: unset !important;
}

.dropdown-menu {
  width: 100vw;
  max-width: 100%;
  left: 0% !important;
  right: 0px !important;
  border: none;
  border-radius: 0;
  margin-top: 0px !important;
  background-image: url("../images/nav-background.webp");
  background-size: cover;
  background-position: bottom;
  padding-top: 20px !important;
  /* padding-bottom: 40px; */
}

.drop_down_row {
  width: 100%;
  padding: 50px;
}

.drop_down_row h5 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.links_container {
  padding: 20px 0px 30px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.links_container a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 1px;
}

.links_container a:hover,
.links_container a:focus {
  color: #e50a5c;
}

.nav_explore > a {
  color: white !important;
  /* font-size: 14px; */
  /* font-weight: 300; */
  /* margin: 0px 10px; */
}

.nav-active,
.nav-active > a {
  color: #e50a5c !important;
  font-weight: 400 !important;
}

.header_get_quote_btn {
  background: white;
  color: #e50a5c;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 30px 1px rgb(25 122 25 / 20%);
  padding: 12px 30px;
}

@media screen and (max-width: 767px) {
  .navbar-brand img {
    width: 180px;
  }
}

@media (max-width: 1117px) and (min-width: 992px) {
  #right_side_nav > a {
    margin: 0 5px;
  }
}

@media screen and (max-width: 990px) {
  #right_side_nav {
    width: 100%;
    padding-right: 60px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  /* .nav_explore > a {
    padding: 0px;
    margin: 0px 15px;
  } */
}

/* overlay navbar */
.nav-link {
  padding: 0 !important;
  margin-bottom: 40px;
  color: rgb(228, 223, 223) !important;
}

.nav-link.active {
  width: fit-content;
  text-decoration: underline #e50a5c !important;
  color: #e50a5c !important;
  /* font-weight: 300 !important; */
  letter-spacing: 3px;
}

.nav-link:focus {
  /* font-weight: 300 !important;
  letter-spacing: 3px; */
  color: #e50a5c !important;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.97);
  overflow-x: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 30px 0 0 90px;
}

.overlay .nav-link {
  padding: 6px 0 !important;
  text-decoration: none;
  font-size: 35px;
  font-weight: 600;
  color: white;
  display: block;
  transition: 0.6s;
}

.overlay-content a:hover {
  color: #0096d8;
}

.overlay-dropdown-item {
  padding: 5px 0 !important;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
  cursor: pointer;
  z-index: 9999;
}

.overlay .closebtn svg {
  color: white !important;
  font-size: 35px;
}

.overlay-content-number {
  font-weight: 200 !important;
  color: rgba(234, 245, 224, 0.897);
}

.header_get_quote_btn {
  color: black;
  padding: 5px 20px !important;
}

@media (max-width: 991px) {
  .nav-link {
    /* font-weight: 300 !important; */
    /* letter-spacing: 3px; */
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 991px) {
  .overlay-content {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 30px;
  }

  .nav-link {
    padding: 0 !important;
    /* font-size: 26px !important; */
    margin-bottom: 60px;
  }

  .nav-link.active {
    width: fit-content;
    text-decoration: underline #e50a5c !important;
    color: #e50a5c !important;
  }

  .nav-link:focus {
    color: #e50a5c !important;
  }

  .nav-active {
    text-decoration: none;
    font-size: 26px !important;
    /* color: white !important; */
    margin: 0;
    letter-spacing: 3px;
  }

  /* .nav_explore > a {
    font-size: 26px !important;
    font-weight: bold !important;
    color: white !important;
    margin: 0;
  } */

  .header_get_quote_btn {
    font-size: 26px !important;
    margin-top: 30px;
    padding: 8px 20px;
  }

  .drop-down-nav-link {
    color: white !important;
  }

  .drop_down_row {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    background-color: transparent;
  }

  .overlay-dropdown-container {
    width: 50%;
    /* margin-left: 80px; */
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
  }

  .overlay-dropdown-container h5 {
    font-size: 20px;
    text-align: left;
    /* margin-left: 130px; */
    font-weight: 600;
    letter-spacing: 1px;
    color: white !important;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 1px;
  }

  .links_container {
    padding: 2px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: left;
    /* margin-left: 100px; */
  }

  .links_container a {
    text-decoration: none;
    /* color: white; */
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 1px;
  }

  .links_container a:hover,
  .links_container a:focus {
    color: #e50a5c;
  }

  .dropdown-nav-active {
    text-decoration: none;
    font-size: 13px !important;
    color: white !important;
    font-weight: bold !important;
    margin: 0;
  }

  .header_get_quote_btn {
    margin-bottom: 30px;
    box-shadow: none;
  }

  .dropdown-arrow-container {
    display: flex;
    align-items: center;
    font-weight: 300 !important;
    letter-spacing: 3px !important;
  }

  .dropdown-arrow {
    width: 15px;
    margin-right: 5px;
  }
  .socials {
    display: flex;
    color: white;
    gap: 10px;
  }
}

@media (max-width: 486px) {
  .overlay-content {
    margin: 30px 0 0 30px;
  }

  .overlay-dropdown-container {
    width: 100%;
  }
}

.header_main {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.192);
  width: 100vw;
  overflow-x: hidden;
}
.header_main > img {
  min-width: 1600px;
  background-color: black;
}

@media (max-width: 1440px) {
  .header_main > img {
    min-width: 1440px;
  }
}

.header-content {
  width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header-content > nav {
  display: flex;
  gap: 40px;
  margin-top: 10px;
  /* position: relative; */
}
.dropdown-menu.show{
  position: absolute;
  transform: translate(0px, 104px);
  top: 50px !important;
  width: 100%;
  /* background: aqua; */
}
@media (max-width: 767px){
  .dropdown-menu.show{
    position: static !important;
    transform:unset !important;
    top: 125px !important;
    background: #1613138f !important;
    height: auto !important;
    background-image: none !important;
    height: 350px !important;
    overflow: auto !important;
    height: 400px !important;
  }
  .dropdown-menu.show::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .dropdown-menu.show::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .dropdown-menu.show::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .dropdown-menu.show::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .drop_down_row{
    padding-left: unset !important;
    padding-right: unset !important;
    padding: 10px 20px !important;
  }
  .drop_down_row h5{
    color: white;
  }
  .links_container a{
    color: white;
  }
}
.header-content > nav > .active::before {
  content: "";
  background: white;
  width: 11px !important;
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: -16px;
}
.header-content > nav > a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease;
  /* font-weight: 300; */
}
.header-content > nav > a:hover, #basic-nav-dropdown:hover {
  color: #f10161 !important;
}
.header-content > nav > a:active {
  transform: scale(0.95);
}
.header-content > button {
  background-image: linear-gradient(45deg, #61127d, #f10161);
  font-weight: 300;
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  box-shadow: #14029b8e 0px 7px 29px 0px;
}
.home-bg {
  z-index: -1;
  position: absolute;
  min-width: 100% !important;
  min-height: 700px;
  object-fit: cover;
  object-position: 46%;
}
/* .logo-img-container {
  width: 100%;
} */
.logo-img-container > img{
  width: 275px;
  height: 100%;
  object-fit: contain;
}

.monbile-nav {
  display: none;
}
@media (max-width: 1115px){
  .home-bg{
    height: 750px;
  }
}
@media (max-width: 1052px){
  .home-bg{
    height: 800px;
  }
}
@media (max-width: 1052px){
  .home-bg{
    height: 880px;
  }
}
@media (max-width: 767px) {
  .home-bg{
    height: 900px;
  }
  .monbile-nav {
    display: block;
  }
  .monbile-nav > svg {
    width: 30px;
    height: 30px;
  }
  .monbile-nav > nav {
    position: absolute;
    top: 37px;
    left: -320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.699);
    padding: 30px;
    /* height: calc(100vh - 37px); */
    min-height: 100vh;
    width: 320px;
    transition: all 0.5s ease;
  }
  .monbile-nav > nav > a, #basic-nav-dropdown {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
  }
  .monbile-nav > nav > a:hover, a#basic-nav-dropdown:hover {
    color: #f10161;
  }
  .nav-open {
    transform: translateX(320px);
  }
}

@media (max-width: 600px){
  .home-bg{
    height: 950px;
  }
}

@media (max-width: 500px){
  .home-bg{
    height: 1000px;
  }
}

@media (max-width: 400px){
  .home-bg{
    height: 1100px;
  }
}
